@keyframes t557__snow {
    0% {
        background-position: 0px 0px, 0px 0px, 600px 0px;
    }

    100% {
        background-position: 600px 900px, 400px 400px, 300px 600px;
    }
}

.snow-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    background-image: url('https://static.tildacdn.com/img/snowflakes_1.png'), url('https://static.tildacdn.com/img/snowflakes_2.png');
    /* -webkit-animation: t557__snow 20s linear infinite;
    -moz-animation: t557__snow 20s linear infinite;
    -o-animation: t557__snow 20s linear infinite;
    animation: t557__snow 20s linear infinite; */
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
}

.dm-text-style {
    font-family: 'IskraCYR', Arial, sans-serif;
}

.order-dlg .modal-dialog {
    max-width: 700px;
}

.photo-uploaded {
    display: none;
    color: green;
}

.background1 {
    background-image: url(../images/dedmoroz/background1.jpg);
    background-attachment: fixed;
}

.left-container {
    margin-left: 0;
    width: 750px;
}

.owl-carousel.home-slider .slider-item .slider-text .btn-primary.main-btn, .main-btn {
    color: rgb(255, 255, 255);
    background: rgb(219, 31, 47);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.owl-carousel.home-slider .slider-item .slider-text .btn-primary.secondary-btn, .secondary-btn {
    color: rgb(15, 77, 130);
    background: rgb(255, 255, 255);
}
.order-white-btn, .order-white-btn:hover {
    color: rgb(15, 77, 130);
    background: rgb(255, 255, 255);
}


/* second-section */
.pozdravlenie-section {
    background: url(../images/dedmoroz/sinichki-50.jpg);
    /* background-size: contain; */
    background-position: center;
    background-attachment: fixed;
}
.snowflake-icon img {
    width: 80px;
    height: 80px;    
}
.our-price-section {
    background: url(../images/dedmoroz/red-back-20.jpg);
    height: 560px;
    background-attachment: scroll;
    background-position: center -30px;
    padding-top: 150px;
}

.our-price-section .dm-text-style {
    color: white;
}

.t581__arrow-icon {
    width: 45px;
    position: absolute;
    left: 30px;
    transform: translateX(-100%);
    fill: #fff;
    top: -20px;
    bottom: 0;
    margin: auto;
}


/* order-dialog */
.order-dlg .modal-dialog {
    max-width: 900px;
}

.bs-stepper-label {
    font-size: 14px;
}
.bs-stepper .line, .bs-stepper-line {
    flex: 1 0 12px;
}
.bs-stepper .step-trigger {
    padding: 20px 4px;
}