html,
body {
    height: 100%;
}

.my-full-page-container {
    min-height: 100%;
    height: 100%;
    padding-top: 40px;

    background: url(../images/dedmoroz/sinichki-50.jpg);
    /* background-size: contain; */
    background-position: center;
    background-attachment: fixed;
}

.centered-container {
    width: 50%;
    margin: 50px auto 0;

}


.upload-panel {
    display: flex;
    flex-wrap: wrap;
}

.pic-wrapper {
    border: solid 1px;
    background: #a8c7e7;

flex: 0 50%;
    padding: 4px 10px;
}
.pic-wrapper_1, .pic-wrapper_2 {
    display: none;
}

.file-picture,
.btn-upload-file {
    display: inline;
}

.bs-stepper-header {
    height: 70px;
}
.image-aspect-wrapper {
    display: none;
}