
html, body {
    height: 100%;
  } 

.my-full-page-container { 
    min-height: 100%;
    height: 100%;
    padding-top: 40px;

    background: url(../images/dedmoroz/sinichki-50.jpg);
    /* background-size: contain; */
    background-position: center;
    background-attachment: fixed;
}

.centered-container {
    width: 50%;
    margin:50px auto 0;

}