@charset "UTF-8";
/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  background-color: #e7edf2;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,
textarea {
  color: #333;
  font-family: "Nunito", sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #0f4d81;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
  outline: none !important;
}

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "Crassula";
  src: url("../fonts/CrassulaRegular.woff2") format("woff2"), url("../fonts/CrassulaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iskra";
  src: local("Iskra-Medium"), url("../fonts/Iskra-Medium.woff2") format("woff2"), url("../fonts/Iskra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?peq96i");
  src: url("../fonts/icomoon.eot?peq96i#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?peq96i") format("truetype"), url("../fonts/icomoon.woff?peq96i") format("woff"), url("../fonts/icomoon.svg?peq96i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-girl:before {
  content: "";
}

.icon-boy:before {
  content: "";
}

.icon-pictures:before {
  content: "";
}

.icon-santa-claus:before {
  content: "";
}

.icon-awards:before {
  content: "";
}

.icon-childrens:before {
  content: "";
}

.icon-letter:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-play:before {
  content: "";
}

/* checkbox */
/* radio */
/* select */
.jq-checkbox {
  top: -1px;
  width: 13px;
  height: 13px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #F6F6F6;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  cursor: pointer;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  height: 9px;
  margin: 2px 0 0 2px;
  background: #666;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
}

.jq-checkbox.disabled {
  opacity: 0.5;
}

.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #F6F6F6;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  vertical-align: middle;
  cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
  width: 6px;
  height: 6px;
  margin: 3px 0 0 3px;
  background: #666;
}

.jq-radio.disabled {
  opacity: 0.5;
}

.jq-file {
  width: 270px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em;
}

.jq-file__name {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #333;
  font: 14px/30px Arial, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1;
  background: #FFF;
}

.focused .jq-file__name {
  border: 1px solid #5794BF;
}

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px/30px Arial, sans-serif;
}

.jq-file:hover .jq-file__browse {
  background-color: #E6E6E6;
  background-position: 0 -10px;
}

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-file.disabled .jq-file__name {
  color: #888;
}

.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}

.jq-selectbox__select {
  height: 40px;
  padding: 10px 40px 0 15px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  background: #F5F5F5;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: Arial, sans-serif;
}

.jq-selectbox__select:hover {
  background: #F5F5F5;
}

.jq-selectbox__select:active {
  background: #F5F5F5;
}

.jq-selectbox.focused .jq-selectbox__select {
  background: #F5F5F5;
}

.opened .jq-selectbox__select {
  border-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background: none;
}

.jq-selectbox__dropdown {
  top: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 5px 10px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
}

.jq-selectbox li.selected {
  background-color: #000;
  color: #FFF;
}

.jq-selectbox li:hover {
  background-color: #000;
  color: #FFF;
}

.jq-selectbox li.disabled {
  color: #ccc;
  background: none;
}

.jq-selectbox li.disabled:hover {
  background: none;
}

.jq-selectbox li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #FFF;
  color: #333;
  font: 14px/18px Arial, sans-serif;
  cursor: default;
}

.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
}

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

.jq-select-multiple li.disabled {
  color: #AAA;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}

.jq-select-multiple li.optgroup {
  font-weight: bold;
}

.jq-select-multiple li.option {
  padding-left: 25px;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  background: rgba(15, 77, 130, 0.5);
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1;
  position: absolute;
  left: 0;
  top: 21px;
  width: 100%;
  padding: 25px 0;
  z-index: 100;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1576px;
}

.logo {
  font-family: "Crassula", sans-serif;
  color: white;
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 500;
}

.main-nav {
  flex: 1;
  padding: 0 3.8% 0 4.7%;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}
.main-nav-list__item {
  padding: 5px;
}
.main-nav-list__link {
  color: white;
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
}
.main-nav-list__link:hover {
  opacity: 0.7;
}

.button {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  height: 62px;
  border-radius: 37px;
  border: none;
  padding: 5px 62px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.2px;
}

.button-white {
  color: #0f4d81;
  background: #fff;
  border: 2px solid #fff;
}
.button-white:hover {
  background: transparent;
  color: #fff;
}

.button-nav {
  display: none;
  width: 35px;
  height: 35px;
}
.button-nav span {
  width: 33px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

.main-mask {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 77, 130, 0.3);
  z-index: 101;
  transition: all 0.3s;
}

@media screen and (max-width: 1500px) {
  .main-nav {
    padding: 0 25px;
  }
}
@media screen and (max-width: 1400px) {
  .button {
    padding: 5px 35px;
  }

  .main-nav-list__link {
    font-size: 20px;
    line-height: 24px;
  }

  .logo {
    font-size: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .logo {
    font-size: 36px;
  }

  .main-nav-list__link {
    font-size: 18px;
    line-height: 20px;
  }

  .button {
    font-size: 20px;
    line-height: 26px;
    height: 50px;
  }

  .main-nav-list__item {
    padding: 0 3px;
  }
}
@media screen and (max-width: 1023px) {
  .main-nav {
    position: fixed;
    right: -280px;
    top: 0;
    height: 100%;
    width: 280px;
    background: #134268;
    padding: 135px 25px 25px;
    max-width: 100%;
    transition: all 0.3s;
    z-index: 102;
  }
  .main-nav-list {
    display: block;
  }
  .main-nav-list__item {
    padding: 0;
    margin: 0 0 15px 0;
  }
  .main-nav.show {
    right: 0;
  }

  .button-nav {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .button-nav span {
    transition: all 0.3s;
  }
  .button-nav.active {
    z-index: 103;
  }
  .button-nav.active span:first-child {
    transform: rotate(-45deg);
    position: absolute;
    margin: 0 0 0 0;
    width: 28px;
    left: 3px;
    top: 14px;
  }
  .button-nav.active span:nth-child(2) {
    background-color: transparent;
  }
  .button-nav.active span:nth-child(3) {
    transform: rotate(45deg);
    position: absolute;
    right: 3px;
    width: 28px;
    top: 14px;
    margin: 0 0 0 0;
  }

  header .button {
    margin: 0 35px 0 auto;
  }

  .main-mask.active {
    right: 0;
  }

  .noscroll {
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  header {
    top: 0;
    padding: 15px 0;
  }

  .logo {
    font-size: 30px;
  }

  header .button {
    margin-right: 15px;
    padding: 7px 18px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
  }
}
@media screen and (max-width: 470px) {
  header .wrapper {
    flex-wrap: wrap;
  }

  header .button {
    order: 3;
    margin: 15px auto 0;
  }

  .logo {
    font-size: 35px;
  }
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  background: #134268;
  text-align: left;
  width: 100%;
  min-width: 320px;
  order: 3;
  -webkit-order: 3;
  padding: 94px 0;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-col_3 {
  flex: 1;
  padding: 0 9.5% 0 10.6%;
}

.footer-nav {
  column-count: 2;
}
.footer-nav__item {
  margin-bottom: 23px;
}
.footer-nav__link {
  color: white;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}
.footer-nav__link:hover {
  opacity: 0.7;
}

.footer-contact {
  margin-bottom: 22px;
}
.footer-contact__item {
  margin-bottom: 17px;
}
.footer-contact__item:last-child {
  margin-bottom: 0px;
}
.footer-contact__txt {
  color: white;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}
.footer-contact__link {
  color: white;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

.social-list {
  display: flex;
  align-items: center;
  margin: 0 -9px;
}
.social-list__item {
  padding: 0 9px;
}
.social-list__link {
  display: block;
}
.social-list__link img {
  width: 42px;
}
.social-list__link_vk img {
  width: 46px;
}
.social-list__link_fb img {
  width: 46px;
}
.social-list__link_youtube img {
  width: 48px;
}

@media screen and (max-width: 1400px) {
  .footer-col_3 {
    padding: 0 25px;
  }
}
@media screen and (max-width: 1023px) {
  .footer-nav {
    column-count: 1;
  }

  .footer-col_3 {
    padding: 0 10px;
  }

  .footer-nav__item {
    margin-bottom: 13px;
  }

  footer {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer-row {
    display: block;
    text-align: center;
  }
  .footer-row .logo {
    margin-bottom: 25px;
    display: inline-block;
  }

  .footer-col_3 {
    padding: 0;
  }

  .footer-nav {
    margin-bottom: 25px;
  }

  .footer-nav__item {
    margin-bottom: 7px;
  }

  .social-list {
    justify-content: center;
  }
}
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
}

.wrapper {
  min-width: 320px;
  max-width: 1485px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
}

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #032d50;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #0f4d82;
  font-family: "Nunito", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h2 {
  font-size: 41px;
  line-height: 52px;
  color: #0f4d82;
  font-family: "Nunito", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h3 {
  font-size: 41px;
  line-height: 51px;
  color: #0f4d82;
  font-family: "Nunito", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

/* text position */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.nowrap {
  white-space: nowrap !important;
}

ul {
  list-style: none;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px;
}
.btns__item {
  padding: 0 9px;
}

.main-screen {
  padding-top: 289px;
  padding-bottom: 226px;
  position: relative;
  z-index: 2;
  margin-bottom: -141px;
}
.main-screen h1 {
  color: white;
  font-size: 64px;
  font-weight: 900;
  line-height: 76px;
  max-width: 1000px;
}
.main-screen p {
  color: white;
  font-size: 42px;
  font-weight: 600;
  line-height: 52px;
  padding: 13px 0;
}
.main-screen__btns {
  margin-top: 82px;
}
.main-screen__btns .button {
  min-width: 314px;
  height: 66px;
  padding: 8px 18px;
  font-size: 25px;
  letter-spacing: 0.1px;
}
.main-screen__btns .button-white {
  min-width: 331px;
}
.main-screen__bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  -webkit-clip-path: ellipse(101% 100% at 50% 0%);
          clip-path: ellipse(101% 100% at 50% 0%);
  overflow: hidden;
}
.main-screen__santa {
  position: absolute;
  top: 0;
  right: calc( (100vw - 1570px) / 2);
  bottom: 0;
  width: 57.5%;
  height: 100%;
  background-image: url(../img/main-screen-santa.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.button-red {
  background: #db1f2f;
  border: 2px solid #db1f2f;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.button-red::before {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: #fff;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  transform: rotate(45deg);
  transition: all 0.1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.8;
  box-shadow: 0 0 2px #fffcbf, 0 0 3px #fffcbf, 0 0 4px #fffcbf, 0 0 6px #fffcbf;
}
.button-red:hover {
  background: transparent;
  color: #db1f2f;
}

@keyframes slideme {
  0% {
    left: -40px;
  }
  50% {
    left: calc(100% + 40px);
  }
  100% {
    left: calc(100% + 40px);
  }
}
.section-servise {
  padding: 208px 0 32px;
  position: relative;
  z-index: 1;
}
.section-servise__tree {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: 100% auto;
  background-image: url(../img/christmas-tree-2.png);
  background-repeat: no-repeat;
}
.section-servise h2 {
  text-align: center;
  color: #db1f2f;
  font-weight: 600;
  max-width: 800px;
  margin: 0 auto;
  line-height: 58px;
  margin-bottom: 20px;
  letter-spacing: 0.35px;
}
.section-servise .wrapper > p {
  color: #032d50;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  max-width: 890px;
  margin: 0 auto 36px;
  font-family: "Open Sans", sans-serif;
}

.video {
  width: 830px;
  height: 492px;
  max-width: 100%;
  margin: 0 auto 103px;
  position: relative;
}
.video__frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video__frame iframe {
  width: 100%;
  height: 100%;
}
.video__play {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 77, 130, 0.5);
  color: #fff;
  padding: 10.3% 0 0 0;
}
.video__play i {
  font-size: 103px;
  margin: 0 auto 52px;
}
.video__play span {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}
.video.active .video__play {
  display: none;
}

.servise-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px 65px;
  font-family: "Open Sans", sans-serif;
}
.servise-list__item {
  width: 50%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}
.servise-list__icon {
  color: #032d50;
  width: 91px;
  text-align: right;
}
.servise-list__icon i {
  font-size: 75px;
}
.servise-list__icon .icon-santa-claus {
  font-size: 83px;
}
.servise-list__icon .icon-like {
  font-size: 82px;
}
.servise-list__icon .icon-pictures {
  font-size: 66px;
}
.servise-list__icon .icon-letter {
  font-size: 72px;
}
.servise-list__cont {
  flex: 1;
  padding-left: 33px;
  color: #032d50;
  font-size: 17px;
  line-height: 24px;
}
.servise-list__title {
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 9px;
}
.servise-list__desc {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  letter-spacing: -0.4px;
  color: #032d50;
  max-width: 440px;
}
.servise-list__desc a {
  text-decoration: underline;
  color: #032d50;
}
.servise-list__desc a:hover {
  text-decoration: none;
}

.section-cost {
  background-image: url(../img/cost-bg-q.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 140px 0 112px;
  position: relative;
  z-index: 2;
  margin-bottom: -90px;
  -webkit-clip-path: ellipse(120% 100% at 50% 0%);
          clip-path: ellipse(120% 100% at 50% 0%);
  overflow: hidden;
  position: relative;
}
.section-cost::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-100% + 60px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7edf2;
  -webkit-clip-path: ellipse(120% 100% at 50% 0%);
          clip-path: ellipse(120% 100% at 50% 0%);
}

.cost {
  text-align: center;
  color: #fff;
}
.cost__title {
  color: white;
  font-size: 41px;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 43px;
}
.cost__val {
  color: white;
  font-size: 77px;
  font-weight: 700;
  line-height: 87px;
  margin-bottom: 32px;
}
.cost p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  max-width: 1002px;
  margin: 0 auto;
  letter-spacing: -0.2px;
  padding: 11px 0;
}
.cost p a {
  color: white;
  text-decoration: underline;
}
.cost p a:hover {
  text-decoration: none;
}

.section-feedback {
  background-image: url(../img/feedback-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 373px 0 297px;
  position: relative;
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin-bottom: -2px;
}
.section-feedback:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/feedback-santa.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100% auto;
}
.section-feedback__tree {
  position: absolute;
  left: 0;
  top: 0;
  width: 312px;
  height: 310px;
  background-image: url(../img/christmas-tree-1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: 3;
}

.feedback {
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 4;
}
.feedback__title {
  color: #0f4d82;
  font-size: 41px;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 93px;
}
.feedback .button {
  min-width: 290px;
}

.snowflakes {
  position: absolute;
  left: 0;
  top: 84px;
  z-index: 2;
  width: 488px;
  height: 100%;
  background-image: url(../img/snowflake-static.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%, 100% {
    transform: translateX(0) rotate(360deg);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
  left: 5%;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 10%;
  animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
  left: 15%;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 20%;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
  left: 25%;
  animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
  left: 30%;
  animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
  left: 35%;
  animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
  left: 40%;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
  left: 45%;
  animation-delay: 3s, 1.5s;
}

.snowflake:nth-of-type(10) {
  left: 50%;
  animation-delay: 2s, 0s;
}

.snowflake:nth-of-type(11) {
  left: 55%;
  animation-delay: 4s, 2.5s;
}

.snowflake:nth-of-type(12) {
  left: 60%;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(13) {
  left: 65%;
  animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(14) {
  left: 85%;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(15) {
  left: 45%;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(16) {
  left: 55%;
  animation-delay: 8s, 3s;
}

.snowflake {
  background-image: url(../img/snowflake.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-user-select: none;
          user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake_1 {
  width: 35px;
  height: 35px;
}
.snowflake_2 {
  width: 25px;
  height: 25px;
}
.snowflake_3 {
  width: 15px;
  height: 15px;
}
.snowflake_4 {
  width: 10px;
  height: 10px;
}
.snowflake_5 {
  width: 8px;
  height: 8px;
}
.snowflake_6 {
  width: 17px;
  height: 17px;
}
.snowflake_7 {
  width: 29px;
  height: 29px;
}
.snowflake_8 {
  width: 35px;
  height: 35px;
}

.inner-page {
  background: #5a84a8;
}
.inner-page header {
  top: 0;
  position: relative;
  left: auto;
}

.inner-content {
  padding-top: 103px;
  padding-bottom: 145px;
  position: relative;
}
.inner-content__tree {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(../img/christmas-tree-3.png);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 3;
}

.content-item {
  border: 9px solid #c4d3de;
  border-radius: 38px;
  padding: 16px;
  max-width: 1127px;
  margin: 0 auto;
}
.content-item__bg {
  border-radius: 33px;
  background: #c4d3de;
  padding: 39px 45px 82px 90px;
}
.content-item h1 {
  text-align: center;
  color: #db1f2f;
  font-size: 51px;
  font-weight: 500;
  line-height: 62px;
  font-family: "Iskra", sans-serif;
  padding: 0;
  margin-bottom: 40px;
}
.content-item .text-center {
  padding-right: 45px;
}

.order-step {
  list-style: none;
  counter-reset: list;
  margin-bottom: 75px;
}
.order-step > li {
  position: relative;
  padding-left: 61px;
  margin-bottom: 33px;
}
.order-step > li:last-child {
  margin: 0px 0px 0px 0px;
}
.order-step > li:before {
  counter-increment: list;
  content: counter(list);
  font-weight: bold;
  display: block;
  position: absolute;
  left: -6px;
  top: 0px;
  color: #5480a5;
  font-size: 57px;
  line-height: 29px;
  font-weight: 700;
  font-family: "Iskra", sans-serif;
}
.order-step ul {
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 6px;
}
.order-step ul > li {
  position: relative;
  padding-left: 41px;
  margin-bottom: 8px;
}
.order-step ul > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 27px;
  height: 27px;
  background-image: url(../img/snowflake-ul.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.order-step ul > li:last-child {
  margin: 0px 0px 0px 0px;
}
.order-step p {
  padding: 0;
  color: black;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.1px;
}
.order-step p a {
  text-decoration: underline;
  color: black;
}
.order-step p a:hover {
  text-decoration: none;
}

.content-item-choose {
  display: flex;
  min-height: 689px;
}
.content-item-choose .content-item__bg {
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-item-choose__title {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  padding: 9px 0;
  margin-bottom: 19px;
  color: #db1f2f;
  text-align: center;
}

.content-item-choose__sub-title {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  letter-spacing: 0.31px;
}

.content-item-choose__sub-title_error {
  color: red;
  display: none;
}

.content-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.content-item__bottom-text {
  flex: 1;
  padding: 0 5px 0 58px;
}
.content-item__bottom-text p {
  color: black;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  padding: 0 0 0 30px;
  position: relative;
  margin: 0 auto;
  max-width: 527px;
  letter-spacing: -0.15px;
  display: block;
}
.content-item__bottom-text p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 29px;
  background-image: url(../img/icon-lock.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.choose-radio {
  display: flex;
  justify-content: center;
  margin: auto 4px 0;
}
.choose-radio__item {
  padding: 0 32px;
  width: 33.3%;
}
.choose-radio__label {
  display: block;
}
.choose-radio__icon {
  display: block;
  margin-bottom: 18px;
  min-height: 100px;
  font-size: 102px;
  color: #032d50;
  text-align: center;
}
.choose-radio__button {
  cursor: pointer;
  transition: all 0.3s;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  height: 66px;
  border-radius: 37px;
  border: none;
  padding: 5px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.07px;
  color: #0f4d81;
  background: #fff;
  border: 2px solid #fff;
}
.choose-radio__button:hover {
  background: transparent;
  color: #fff;
}
.choose-radio__button_small {
  font-size: 16px;
  height: 30px;
  margin-left: 10px;
}
.choose-radio input {
  position: absolute;
  left: -60000px;
  visibility: hidden;
}
.choose-radio input:checked ~ .choose-radio__button {
  background: #0f4d81;
  border-color: #0f4d81;
  color: #fff;
}

.button-next {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background: #688faf;
  border: 2px solid #688faf;
  height: 50px;
  border-radius: 20px;
  padding: 11px 46px;
  display: inline-block;
  margin-left: auto;
}
.button-next:hover {
  background: transparent;
  color: #688faf;
}

.button-prev {
  color: #0f4d82;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background: white;
  border: 2px solid white;
  height: 50px;
  border-radius: 20px;
  padding: 11px 46px;
  display: inline-block;
  margin-right: auto;
}
.button-prev:hover {
  background: transparent;
  color: white;
}

.hide-item {
  position: absolute;
  left: -6000px;
  visibility: hidden;
}

.styled {
  max-width: 443px;
  margin: auto;
}
.styled .jq-selectbox__select {
  height: 66px;
  background: #fff;
  border-color: #fff;
  border-radius: 35px;
  text-align: center;
  color: #0f4d82;
  font-size: 20px;
  line-height: 28px;
  padding: 17px 44px 0 44px;
}
.styled .jq-selectbox__trigger-arrow {
  opacity: 0.2;
  border-top: 13px solid #0f4d82;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: 25px;
  right: 28px;
  transition: all 0.3s;
}
.styled.opened .jq-selectbox__trigger-arrow {
  transform: scale(1, -1);
}
.styled .jq-selectbox__dropdown {
  top: 66px;
  border: 2px solid #688faf;
  border-radius: 25px;
  padding: 15px 0;
}
.styled.jq-selectbox li {
  color: #0f4d82;
  font-size: 20px;
  line-height: 28px;
  padding: 5px 25px;
}
.styled.jq-selectbox li.selected {
  background: #0f4d82;
  color: #fff;
}
.styled.jq-selectbox li:hover {
  background: #0f4d82;
  color: #fff;
}
.styled .jq-selectbox__select-text.placeholder {
  color: #a0b8cd;
}
.styled .jq-selectbox__select-text {
  width: 100% !important;
}
.styled.error ~ .jq-selectbox__select {
  border-color: red;
}

label.error {
  display: none !important;
}

.styled-sm {
  max-width: 400px;
  margin-top: 21px;
}

.select-sub-title {
  color: black;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  padding: 0;
  position: relative;
  margin: 28px auto 112px;
  max-width: 469px;
  letter-spacing: -0.25px;
  display: block;
}

.portfolio-prices {
  max-width: 1379px;
  margin: 0 auto;
}
.portfolio-prices h1 {
  text-align: center;
  color: #db1f2f;
  font-family: "Iskra", sans-serif;
  font-size: 49px;
  font-weight: 500;
  line-height: 56px;
  padding-top: 22px;
  margin-bottom: 69px;
}
.portfolio-prices h2 {
  color: #db1f2f;
  font-family: "Iskra", sans-serif;
  font-size: 41px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 800px;
  margin: 0 auto 33px;
}

.portfolio-list {
  display: flex;
  margin: 0 -52px 122px;
}
.portfolio-list__item {
  padding: 0 52px;
  width: 50%;
}
.portfolio-list__card {
  position: relative;
  display: block;
}
.portfolio-list__title {
  color: #db1f2f;
  font-family: "Iskra", sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.2px;
  margin-bottom: 33px;
}
.portfolio-list__video {
  width: 100%;
  height: 374px;
  margin-bottom: 37px;
}
.portfolio-list__video iframe {
  width: 100%;
  height: 100%;
}
.portfolio-list__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-list__price {
  color: #0f4d82;
  font-size: 50px;
  font-weight: 900;
  line-height: 58px;
}

.button-blue-border {
  height: 69px;
  border: 2px solid #0f4d82;
  font-size: 26px;
  padding: 5px 38px;
  font-weight: 600;
  letter-spacing: -0.4px;
}
.button-blue-border:hover {
  background: #fff;
  color: #0f4d82;
  border-color: #fff;
}

.payment-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1288px;
}
.payment-list__item {
  padding: 0 25px;
  width: 25%;
  text-align: center;
}
.payment-list__img {
  display: inline-block;
  max-width: 179px;
}
.payment-list__img img {
  display: block;
  max-width: 100%;
}

.payment-sub-title {
  text-align: center;
  color: black;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 65px;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  margin: 21px auto 80px;
  max-width: 937px;
  width: 100%;
  text-align: center;
}
.photo-list__item {
  padding: 0 37px;
  width: 50%;
  margin-bottom: 77px;
}
.photo-list__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 231px;
  margin-bottom: 42px;
  position: relative;
}
.photo-list__label input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.photo-list__label.active .icon-upload {
  display: none;
}
.photo-list__photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #0f4d82;
}
.photo-list .error + .photo-list__photo {
  border-color: red;
}
.photo-list .jq-selectbox li {
  text-align: left;
}

.icon-upload {
  display: inline-block;
  width: 109px;
  height: 101px;
  background-image: url(../img/icon-upload.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.photo-list-single {
  justify-content: center;
}

.content-item-choose__title + .box-field {
  margin-top: 45px;
}

.box-field {
  display: flex;
  max-width: 593px;
  margin: 0 auto 40px;
  width: 100%;
}
.box-field__label {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  width: 195px;
  padding-top: 15px;
}
.box-field__input {
  flex: 1;
  display: block;
}
.box-field__input > span {
  color: black;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  padding: 14px 0 0 0;
  position: relative;
  text-align: center;
  letter-spacing: -0.15px;
  display: block;
}
.box-field + .button-next {
  margin: 33px auto 4px;
  border-radius: 25px;
}

.form-control {
  height: 60px;
  border-radius: 35px;
  background: #eaf0f4;
  border: 1px solid #eaf0f4;
  padding: 5px 25px;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
}
.form-control.error {
  border-color: red;
}

.aspect-container {
  margin-bottom: 10px;
}

.photo-list__label input[type=file].input-photo_hidden {
  z-index: 0;
}

@media screen and (max-width: 1500px) {
  .portfolio-list {
    margin: 0 -25px 85px;
  }
  .portfolio-list__item {
    padding: 0 25px;
  }

  .main-screen__santa {
    right: 0;
  }
}
@media screen and (max-width: 1400px) {
  .portfolio-list__title {
    font-size: 29px;
    line-height: 34px;
  }

  .portfolio-prices h1 {
    margin-bottom: 41px;
  }

  .portfolio-list__video {
    height: 318px;
  }

  .portfolio-list__price {
    font-size: 35px;
    line-height: 42px;
  }

  .button-blue-border {
    height: 50px;
    font-size: 19px;
  }
}
@media screen and (max-width: 1100px) {
  .main-screen__santa {
    width: 70%;
  }

  .choose-radio {
    margin-left: -32px;
    margin-right: -32px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }

  .main-screen {
    padding-bottom: 150px;
    margin-bottom: -80px;
  }

  .main-screen__bg {
    -webkit-clip-path: ellipse(147% 100% at 50% 0%);
            clip-path: ellipse(147% 100% at 50% 0%);
  }

  .main-screen h1 {
    font-size: 55px;
    line-height: 66px;
    max-width: 700px;
  }

  .main-screen p {
    font-size: 30px;
    line-height: 36px;
  }

  .main-screen__btns .button {
    font-size: 20px;
    line-height: 24px;
    height: 50px;
    min-width: 0;
  }

  .servise-list {
    margin: 0 -25px 35px;
  }
  .servise-list__item {
    padding: 0 25px;
  }

  .section-feedback {
    padding: 300px 0 250px;
  }

  .feedback__title {
    margin-bottom: 50px;
  }

  .content-item__bg {
    padding: 35px 35px 55px;
  }

  .content-item-choose .content-item__bg {
    padding: 35px 35px 35px;
  }

  .content-item .text-center {
    padding-right: 0;
  }

  .order-step > li {
    padding-left: 40px;
  }

  .order-step {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1300px) and (max-height: 900px) {
  .main-screen {
    padding-top: 205px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1300px) and (max-height: 800px) {
  .main-screen__btns {
    margin-top: 36px;
  }

  .main-screen h1 {
    font-size: 56px;
    line-height: 68px;
    max-width: 800px;
  }

  .main-screen p {
    font-size: 32px;
    line-height: 42px;
  }

  .main-screen {
    padding-top: 195px;
    padding-bottom: 180px;
  }
}
@media screen and (max-width: 1023px) {
  .main-screen {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .main-screen h1 {
    font-size: 40px;
    line-height: 50px;
    max-width: 540px;
  }
  .main-screen p {
    font-size: 20px;
    line-height: 24px;
  }

  .section-servise h2 {
    font-size: 31px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .section-servise .wrapper > p {
    font-size: 18px;
    line-height: 26px;
  }

  .servise-list__cont {
    padding-left: 0px;
  }

  .servise-list__icon {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .servise-list {
    margin: 0 -15px;
    text-align: center;
  }
  .servise-list__item {
    padding: 0 15px;
    flex-direction: column;
  }

  .section-cost {
    padding: 90px 0;
  }

  .cost__title {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 23px;
  }

  .cost__val {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 13px;
  }

  .cost p {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0;
  }

  .section-feedback {
    padding: 250px 0 200px;
  }

  .feedback__title {
    font-size: 31px;
    line-height: 37px;
    margin-bottom: 30px;
  }

  .feedback .button {
    min-width: 0;
  }

  .section-feedback__tree {
    width: 220px;
    height: 220px;
  }

  .snowflakes {
    width: 280px;
  }

  .inner-content {
    padding-top: 75px;
    padding-bottom: 95px;
  }

  .content-item {
    border-width: 5px;
    padding: 5px;
  }

  .content-item h1 {
    font-size: 41px;
    line-height: 51px;
    margin-bottom: 20px;
  }

  .order-step p {
    font-size: 18px;
    line-height: 23px;
  }

  .order-step > li:before {
    font-size: 47px;
  }

  .order-step > li {
    margin-bottom: 23px;
  }

  .order-step ul {
    padding-left: 0;
  }

  .content-item-choose__title {
    font-size: 31px;
    line-height: 40px;
  }

  .choose-radio {
    margin: 0 -15px 45px;
  }
  .choose-radio__item {
    padding: 0 15px;
  }

  .choose-radio__button {
    font-size: 19px;
    height: 50px;
  }

  .choose-radio__button.choose-radio__button_small {
    font-size: 16px;
    height: 30px;
    margin-left: 10px;
  }

  .choose-radio__icon {
    font-size: 88px;
    min-height: 100px;
  }

  .portfolio-prices h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .portfolio-list__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .portfolio-prices h2 {
    font-size: 31px;
    line-height: 37px;
    margin-bottom: 17px;
  }

  .payment-sub-title {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .payment-list {
    margin: 0 -25px;
    max-width: calc(100% + 50px);
  }

  .portfolio-list {
    flex-wrap: wrap;
  }
  .portfolio-list__item {
    width: 100%;
    margin-bottom: 45px;
  }
  .portfolio-list__item:last-child {
    margin-bottom: 0;
  }

  .portfolio-list__video {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .portfolio-list__bottom {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-item-choose {
    min-height: 540px;
  }

  .content-item-choose__sub-title {
    font-size: 18px;
    line-height: 26px;
    padding: 7px 0;
  }

  .content-item__bottom {
    flex-wrap: wrap;
  }

  .content-item__bottom-text {
    padding: 0 0 15px;
    order: -1;
    width: 100%;
    flex: auto;
  }
  .content-item__bottom-text p {
    max-width: 100%;
  }

  .photo-list {
    margin: 25px -15px 50px;
    width: calc(100% + 30px);
  }
  .photo-list__item {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  .select-sub-title {
    margin: 18px auto 75px;
  }

  .box-field__label {
    font-size: 18px;
    line-height: 26px;
    padding-top: 0;
  }

  .form-control {
    font-size: 18px;
    line-height: 26px;
  }

  .choose-radio {
    margin-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .main-screen {
    padding-top: 130px;
    padding-bottom: 80px;
  }

  .main-screen__btns {
    margin-top: 40px;
  }

  .btns {
    flex-direction: column;
  }
  .btns__item {
    margin-bottom: 10px;
  }

  .servise-list {
    margin-bottom: 85px;
  }

  .servise-list__item {
    width: 100%;
    margin-bottom: 45px;
  }
  .servise-list__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .feedback {
    display: block;
  }

  .video {
    height: 300px;
  }

  .cost__title {
    font-size: 26px;
    line-height: 32px;
  }

  .inner-content {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .content-item__bg {
    padding: 15px 15px 45px;
  }

  .content-item h1 {
    font-size: 35px;
    line-height: 41px;
  }

  .order-step > li:before {
    font-size: 37px;
    left: 0;
  }

  .order-step p {
    font-size: 16px;
    line-height: 21px;
  }

  .content-item-choose .content-item__bg {
    padding: 25px 15px;
  }

  .content-item-choose__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  .choose-radio {
    display: block;
  }
  .choose-radio__item {
    width: 100%;
    margin-bottom: 25px;
  }

  .choose-radio__button {
    display: inline-flex;
  }

  .choose-radio__label {
    text-align: center;
  }

  .choose-radio__icon {
    font-size: 70px;
    min-height: 0;
    margin-bottom: 15px;
  }

  .button-blue-border {
    padding: 5px 24px;
  }

  .payment-list {
    margin: 0 -8px;
    max-width: calc(100% + 16px);
  }
  .payment-list__item {
    padding: 0 8px;
  }

  .main-screen__santa {
    right: -40px;
    width: 80%;
  }

  .content-item-choose__sub-title {
    font-size: 16px;
    line-height: 24px;
  }

  .styled .jq-selectbox__select {
    height: 56px;
    font-size: 18px;
    line-height: 26px;
    padding: 14px 28px 0;
  }

  .styled .jq-selectbox__trigger-arrow {
    top: 22px;
    right: 10px;
  }

  .styled .jq-selectbox__dropdown {
    top: 56px;
  }

  .jq-selectbox li {
    font-size: 18px;
    line-height: 26px;
    padding: 5px 20px;
  }

  .photo-list__item {
    width: 100%;
  }

  .photo-list__label {
    height: 200px;
    margin-bottom: 22px;
  }

  .icon-upload {
    width: 80px;
    height: 80px;
  }

  .box-field {
    display: block;
    margin-bottom: 25px;
  }

  .box-field__label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  .form-control {
    height: 50px;
  }

  .box-field + .button-next {
    margin-bottom: 20px;
  }

  .content-item-choose__title + .box-field {
    margin-top: 45px;
  }
}
@media screen and (max-width: 480px) {
  .main-screen {
    padding-top: 160px;
  }

  .main-screen h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .main-screen p {
    font-size: 18px;
    line-height: 26px;
  }

  .button {
    font-size: 18px;
    line-height: 22px;
  }

  .main-screen__btns {
    margin-top: 40px;
  }

  .section-servise h2 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 7px;
  }

  .feedback__title,
.cost__title {
    font-size: 24px;
    line-height: 31px;
  }

  .cost__val {
    font-size: 45px;
    line-height: 55px;
  }

  .cost p {
    font-size: 16px;
    line-height: 22px;
  }

  .section-feedback {
    padding: 200px 0 150px;
  }

  .section-feedback__tree {
    width: 180px;
  }

  .order-step > li:before {
    font-size: 27px;
  }

  .order-step > li {
    padding-left: 25px;
  }

  .order-step ul > li:before {
    width: 17px;
    height: 17px;
  }

  .order-step ul > li {
    padding-left: 25px;
  }

  .content-item h1 {
    font-size: 31px;
    line-height: 37px;
    margin-bottom: 10px;
  }

  .content-item-choose__title {
    font-size: 21px;
    line-height: 25px;
  }

  .button-next {
    font-size: 16px;
    line-height: 20px;
    padding: 4px 20px;
    height: 33px;
  }

  .portfolio-prices h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .portfolio-list__title {
    font-size: 22px;
    line-height: 27px;
  }

  .portfolio-list__video {
    height: 200px;
    margin-bottom: 15px;
  }

  .portfolio-list__bottom {
    display: block;
    text-align: center;
  }

  .portfolio-list__price {
    margin-bottom: 10px;
  }

  .portfolio-list {
    margin-bottom: 50px;
  }

  .portfolio-prices h2 {
    font-size: 24px;
    line-height: 26px;
  }

  .payment-list {
    flex-wrap: wrap;
  }
  .payment-list__item {
    width: 50%;
    margin-bottom: 20px;
  }

  .section-cost::before {
    -webkit-clip-path: ellipse(170% 100% at 50% 0%);
            clip-path: ellipse(170% 100% at 50% 0%);
  }

  .section-cost {
    -webkit-clip-path: ellipse(170% 100% at 50% 0%);
            clip-path: ellipse(170% 100% at 50% 0%);
  }

  .main-screen__santa {
    width: 129%;
    right: -29%;
  }

  .main-screen {
    padding-bottom: 40px;
  }

  .main-screen h1 {
    max-width: 279px;
  }

  .main-screen p {
    max-width: 250px;
  }

  .main-screen__btns {
    margin-top: 115px;
  }

  .section-servise {
    padding-top: 150px;
  }

  .content-item-choose__sub-title {
    font-size: 14px;
    line-height: 22px;
  }

  .styled {
    margin: 15px auto;
  }

  .select-sub-title {
    margin: 0 auto 75px;
  }

  .content-item__bottom-text p {
    font-size: 13px;
    line-height: 17px;
  }

  .button-prev {
    font-size: 16px;
    line-height: 20px;
    padding: 4px 20px;
    height: 33px;
    min-width: 102px;
    text-align: center;
  }

  .photo-list__label {
    height: 170px;
    margin-bottom: 0;
  }
}
.my-full-page-container {
  min-height: 100%;
  height: 100%;
  padding-top: 40px;
  background: url(../images/dedmoroz/sinichki-50.jpg);
  /* background-size: contain; */
  background-position: center;
  background-attachment: fixed;
}

.centered-container {
  width: 50%;
  margin: 50px auto 0;
}

.payment-page-link {
  display: none;
}

.contacts-container div {
  padding: 0;
  color: black;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.1px;
  margin-bottom: 4px;
}