<!-- BEGIN FOOTER -->
<footer>
    <div class="wrapper">
        <div class="footer-row">
            <div class="footer-col footer-col_1">
                <span class="logo">Дарим Чудо</span>
            </div>
            <div class="footer-col footer-col_3">
                <ul class="footer-nav">
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Как заказать</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Цена и примеры</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Частые вопросы</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Пользовательское соглашение</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Политика конфиденциальности</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Оптовым покупателям</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col_4">
                <div class="footer-contact">
                    <div class="footer-contact__item">
                        <div class="footer-contact__txt">Напишите нам:</div>
                        <a href="mailto:info@darimchudo.ru" class="footer-contact__link">info@darimchudo.ru</a>
                    </div>
                    <div class="footer-contact__item">
                         <a href="tel:7XXXXXXXXXX" class="footer-contact__link">+7 XXX XXX XXXX</a>
                        <div class="footer-contact__txt">по будням с 10 до 18 по Мск</div>                     
                    </div>
                </div> 
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link_inst" target="_blank">
                            <img src="img/inst.png" alt="">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link_vk" target="_blank">
                            <img src="img/vk.png" alt="">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link_fb" target="_blank">
                            <img src="img/fb.png" alt="">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link_youtube" target="_blank">
                            <img src="img/youtube.png" alt="">
                        </a>
                    </li>
                </ul>               
            </div>
        </div>
        
    </div>
</footer>
<!-- FOOTER EOF   -->