<!-- BEGIN HEADER -->
<header>
    <div class="wrapper">
        <span class="logo"></span>
        {% if mainPage %} 
            <span class="logo">Дарим Чудо</span>
        {% else %}
            <a href="#" class="logo">Дарим Чудо</a>
        {% endif %}
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">Как заказать</a></li>
                <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">Цена и примеры</a></li>
                <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">Частые вопросы</a></li>
                <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">Контакты</a></li>
            </ul>            
        </nav>
        <a href="#" class="button button-white">Создать свое видео</a>
        <a href="#" class="button-nav js-button-nav">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="main-mask"></div>
</header>

<!-- HEADER EOF   -->