.loaded .main-wrapper {
    opacity: 0;
}

.icon-load {
    background: url(../img/loader.gif) no-repeat left top;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-left: -20px;
    display: none;
}

.loaded .icon-load {
    display: block;
}

.my-full-page-container {
    min-height: 100%;
    height: 100%;
    padding-top: 40px;

    background: url(../images/dedmoroz/sinichki-50.jpg);
    /* background-size: contain; */
    background-position: center;
    background-attachment: fixed;
}

.centered-container {
    width: 50%;
    margin: 50px auto 0;

}

.payment-page-link {
    display: none;
}

.contacts-container {
    div {
        padding: 0;
        color: black;
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.1px;
        margin-bottom: 4px;
    }
}

.waiting-info {
    text-align: center;
}

.info-block {
    margin-top: 20px;
}

.choose-radio-aspect__item {
    margin-bottom: 14px;
}

.choose-radio-aspect__label .choose-radio__button_small {
    width: 160px;
}

.kids-photo-list .photo-list__label,
.photo-list-single .photo-list__label {
    margin-bottom: 50px;
}

.choose-radio {
    margin-top: 10px;
}

.button-next:disabled,
.button-next[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.image-toolbox {
    display: flex;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    padding: 8px 0 10px 0;
}

.image-toolbox-item {
    margin: 0 16px;
}

.rotate-button {
    padding: 2px 0;
    width: 30px;
}

.delete-photo-wrapper {
    padding: 12px 0 20px 0;
}

.delete-photo-link {
    text-decoration: underline;
}

.dm-icon {
    display: block;
    text-indent: -9999px;
    width: 34px;
    height: 34px;
}

.dm-icon_redo {
    background: url(../img/redo.svg);
    background-size: 34px 34px;
}

.dm-icon_vertical-format {
    background: url(../img/vertical-format.svg);
    background-size: 34px 34px;
}

.dm-icon_horizontal-format {
    background: url(../img/horizontal-format.svg);
    background-size: 34px 34px;
}

.image-toolbox input[type=radio] {
    position: absolute;
    left: -60000px;
    visibility: hidden;
}

.praise-header {
    margin-top: 30px;
}

.table-2-columns {
    display: flex;
    font-size: 18px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    flex-direction: column;
    margin: 0 auto 40px;
    width: 90%;

    .table-row {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .field-name {
        width: 30%;
        padding: 0 10px;
        font-weight: 600;
    }

    .field-value {
        width: 70%;
        padding: 0 10px;
    }
}

.submit-order {
    margin: 0 auto;
}

.centered-text-container {
    width: 90%;
    margin: auto auto;
}

.demo-info-wrapper {
    display: none;
    .go-to-payment {
        margin-top: 12px;
    }
}

.video__holder>video {
    width: 100% !important;
    height: auto !important;
}

p.info-paragraph {
    margin: 10px 10% 0;
}

.select2-holder {
    width: 70%;
    margin: 0 auto;
}
.select2-holder_short {
    width: 50%;
}

.select2-container--default {
    span.select2-selection.select2-selection--single {
        height: 56px;
        font-size: 18px;
        line-height: 26px;
        padding: 14px 28px 0;
        background: #fff;
        border-color: #fff;
        border-radius: 26px;
        text-align: center;
        color: #0f4d82;
    }

    .select2-selection--single .select2-selection__placeholder {
        color: #0f4d82;
    }

    .select2-selection--single .select2-selection__arrow {
        top: 17px;
    }

    .select2-selection--single .select2-selection__arrow b {
        border-width: 13px 8px 0 8px;
        border-color: #9e9595 transparent transparent transparent;
        top: 40%;
        left: -60%;
    }

    .select2-results__option {
        height: auto;
        line-height: 1.3em;
        font-size: 20px;
    }

    .select-8-results__option.select2-results__option--selectable {
        font-family: Arial, sans-serif;
        min-height: 18px;
        color: #0f4d82;
        font-size: 20px;
        line-height: 28px;
        padding: 5px 25px;
    }

    .select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
        background: #0f4d82;
        color: white;
    }

    .select2-search--dropdown.select2-search__field {
        border: 1px silver solid;
    }

    .select2-dropdown.select2-dropdown--below {
        border-right-width: 0;
        border-left-width: 0;
    }

    .select2-search--dropdown .select2-search__field {
        font-size: 18px;
        padding: 6px;
    }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 8px 13px 8px;
    top: 40%;
    left: -60%;
}

.faq-page {
    h2 {
        margin-top: 40px;
    }
    .faq-accordion {        
        
        h3 {
            font-size: 20px;
            font-family: 'Iskra';
            height: auto;
            padding: 12px 4px 12px 18px;
            line-height: 1em;
            margin-top: 4px;
        }
        p {
            margin: 8px 0;
            font-size: 18px;
            line-height: 1.4em;
            font-family: "Nunito", sans-serif;
        }
        .ui-accordion-header.ui-state-active {
            background: #134268;
        }
        .ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e,
        .ui-state-active .ui-icon, .ui-button:active .ui-icon {
            display: none;
        }
        ul {
            padding: 25px 0;
        }
        ul > li {
            font-size: 15px;
            line-height: 1em;
            padding-top: 8px;
        }
    }

}

.eula-page .scrollable,
.conf-policy-page .scrollable {
    max-height: calc(100vh - 60px - 56px);
}
.scrollable {
    overflow-y: auto;
}

.download-wrapper {
    width: 50%;
    margin: 30px auto;
    display: none;
}

.central-wrapper {
    width: 50;
    margin: 0 auto;
    text-align: center;
}

.watch-page {
    .info-prevideo {
        display: none;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .buy-wrapper {
        margin-top: 20px;        
    }   
}

.show-if-demo, .show-if-hd {
    display: none;
}

.two-kidnames-holder {
    // display: flex;
    // justify-content: space-around;
    margin: 0 0 40px;

    // .select2-holder.select2-holder_short {
    //     width: 80%;
    // }
}

.photo-section__comment-info {
    display: none;
}
.group-extra-info {
    margin-bottom: 40px;
}


header {
    padding-top: 0;

    .top-line-ad {
        background: #db1f2f;
        color: white;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        line-height: 1.3em;
        font-weight: 600;
        text-align: center;
    }

    .wrapper {
        padding-top: 8px;
    }
}
