{% set page_title = "Дарим Чудо - Как заказать" %}
{% include "partials/_head.html" %}

<body class="loaded">
    <!-- BEGIN BODY -->
    <div class="main-wrapper inner-page">
        <!-- BEGIN CONTENT -->
        <main class="content inner-content">
            <div class="inner-content__tree"></div>
            <div class="wrapper">
                <div class="content-item">
                    <div class="content-item__bg">
                        <h1>Как заказать</h1>
                        <ol class="order-step">
                            <li>
                                <p>Нажмите на кнопку Попробовать бесплатно.</p>
                                <p>Вы можете оформить заказ в любое время, мы работаем 24 часа в сутки без перерывов и выходных, даже 31 декабря и 1 января</p>
                            </li>
                            <li>
                                <p>Выберите варианты персонализации и загрузите фотографии. Наши возможности персонализации:</p>
                                <ul>
                                    <li>
                                        <p><strong> Имя ребенка.</strong>  Наш список содержит 2500 имен, включая полную и уменьшительно-ласкательной форму имен: <a href="#">список имен</a></p>
                                    </li>
                                    <li><p><strong>Семейные фотографии.</strong> Загрузите от 1 до 3ех фотографий ребенка и выберите к ним комментарии</p></li>
                                    <li><p><strong>Оценка поведения.</strong> Выберите оценку поведения вашего ребенка из 2ух вариантов: хорошее или шкодливое</p></li>
                                    <li><p><strong>Фотография письма</strong> ребенка к Деду Мороза, если ребенок писал письмо. При отсутствии письма это шаг можно пропустить</p></li>
                                    <li><p><strong>Увлечение ребенка.</strong>  Дед Мороз похвалит ребенка и пожелает успехов в его увлечении</p></li>
                                </ul>
                            </li>
                            <li><p>Заполните ваши контактные данные.</p></li>
                            <li><p>Перед оплатой заказа мы покажем вам демо версию вашего поздравления, где вы сможете посмотреть на все персонализации, которые вы выбрали. Если вам понравится, перейдите к оплате видеопоздравления. Информацию по цене можно посмотреть <a href="#">здесь</a></p></li>
                            <li><p>После оформления заказа вам на почту будет выслана ссылка для скачивания вашего именного видеопоздравления. Вы сможете посмотреть его на экране или скачать на люой электорнный носитель.</p></li>     
                        </ol>
                        <div class="text-center">
                            <a href="#" class="button button-red">Попробовать бесплатно</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
        <!-- CONTENT EOF   -->

        {% include "partials/_header.html" %}

        {% include "partials/_footer.html" %}


    </div>

    <div class="icon-load"></div>
    <!-- BODY EOF   -->
    {% include "partials/_js.html" %}
</body>

</html>