{% set page_title = "Дарим Чудо - Главная" %}
{% include "partials/_head.html" %}
{% set mainPage = "Main" %}

<body class="loaded">
    <!-- BEGIN BODY -->
    <div class="main-wrapper">
        <!-- BEGIN CONTENT -->
        <main class="content">
            <div class="main-screen">
                <div class="main-screen__bg">
                    <div class="main-screen__santa"></div>
                </div>
                
                <div class="wrapper">                    
                    <h1>Персональное видеопоздравление  от&nbsp;настоящего Деда Мороза</h1>
                    <p>Подарите ребенку новогоднее чудо</p>
                    <ul class="btns main-screen__btns">
                        <li class="btns__item"><a href="#" class="button button-red">Попробовать бесплатно</a></li>
                        <li class="btns__item"><a href="#" class="button button-white">Посмотреть пример</a></li>
                    </ul>
                </div>
            </div>
            <section class="section-servise">
                <div class="section-servise__tree"></div>
                <div class="wrapper">
                    <h2>В гостях на родине Деда Мороза в&nbsp;Великом Устюге</h2>
                    <p>Дед Мороз покажет ребенку свой дом в Великом Устюге, познакомит со своей помощницей Снеговичкой  и разгадает исчезновение Волшебной Звездочки с&nbsp;новогодней елки. </p>
                    <div class="video">
                        <div class="video__frame">
                            <iframe src="https://www.youtube.com/embed/tp-fSc400Do" allowfullscreen></iframe>
                        </div>
                        <a href="#" class="video__play js-play">
                            <i class="icon-play"></i>
                            <span>Посмотрите трейлер</span>
                        </a>
                    </div>
                    <ul class="servise-list">
                        <li class="servise-list__item">
                            <div class="servise-list__icon"><i class="icon-childrens"></i></div>
                            <div class="servise-list__cont">
                                <div class="servise-list__title">Поздравление одного или двух детей</div>
                                <p class="servise-list__desc">Вы можете выбрать между поздравлениями одного или двух детей, примеры <a href="#">здесь</a></p>
                            </div>
                        </li>
                        <li class="servise-list__item">
                            <div class="servise-list__icon"><i class="icon-awards"></i></div>
                            <div class="servise-list__cont">
                                <div class="servise-list__title">Похвала за достижения</div>
                                <p class="servise-list__desc">Дед Мороз похвалит ребенка за достижения на ваш выбор и даст напутствие.</p>
                            </div>
                        </li>
                        <li class="servise-list__item">
                            <div class="servise-list__icon"><i class="icon-santa-claus"></i></div>
                            <div class="servise-list__cont">
                                <div class="servise-list__title">Личное обращение Деда Мороза</div>
                                <p class="servise-list__desc">Дед Мороз обратится к ребенку по имени. Полный список из 2500 имен здесь</p>
                            </div>
                        </li>
                        <li class="servise-list__item">
                            <div class="servise-list__icon"><i class="icon-like"></i></div>
                            <div class="servise-list__cont">
                                <div class="servise-list__title">Оценка поведения</div>
                                <p class="servise-list__desc">Дед Мороз похвалит ребенка за хорошее поведение или немножко пожурит его за шкодливое</p>
                            </div>
                        </li>
                        <li class="servise-list__item">
                            <div class="servise-list__icon"><i class="icon-pictures"></i></div>
                            <div class="servise-list__cont">
                                <div class="servise-list__title">Просмотр фотографий</div>
                                <p class="servise-list__desc">Дед Мороз полюбуется от 1 до 3 фотографиями ребенка и прокомментирует их фразой на ваш выбор</p>
                            </div>
                        </li>
                        <li class="servise-list__item">
                            <div class="servise-list__icon"><i class="icon-letter"></i></div>
                            <div class="servise-list__cont">
                                <div class="servise-list__title">Просмотр письма</div>
                                <p class="servise-list__desc">Дед Мороз посмотрит написанное ребенком письмо (если ребенок его написал)</p>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="button button-lg button-red">Попробовать бесплатно</a>
                    </div>
                </div>
            </section>
            <div class="section-cost">
                <div class="wrapper">
                    <div class="cost">
                        <div class="cost__title">Стоимость видеопоздравления</div>
                        <div class="cost__val">650 <span>руб</span></div>
                        <p>Принимаем заказы со всего мира: <a href="#">подробности здесь</a></p>
                        <p>Перед оплатой вы получите бесплатно демо-версию вашего поздравления. Мы вернем полную стоимость, если после оплаты итоговый ролик вас разочарует - будет отличаться в худшую сторону от демо-версии или образца, размещенного выше.</p>
                    </div>
                </div>
            </div>
            <div class="section-feedback">
                <div class="section-feedback__tree"></div>
                <div class="snowflakes">
                    <div class="snowflake snowflake_1"></div>
                    <div class="snowflake snowflake_2"></div>
                    <div class="snowflake snowflake_3"></div>
                    <div class="snowflake snowflake_4"></div>
                    <div class="snowflake snowflake_5"></div>
                    <div class="snowflake snowflake_6"></div>
                    <div class="snowflake snowflake_7"></div>
                    <div class="snowflake snowflake_8"></div>
                    <div class="snowflake snowflake_1"></div>
                    <div class="snowflake snowflake_2"></div>
                    <div class="snowflake snowflake_3"></div>
                    <div class="snowflake snowflake_4"></div>
                    <div class="snowflake snowflake_5"></div>
                    <div class="snowflake snowflake_6"></div>
                    <div class="snowflake snowflake_7"></div>
                    <div class="snowflake snowflake_8"></div>
                </div>
                <div class="wrapper">
                    <div class="feedback">
                        <div class="feedback__title">Напомнить о нас позже?</div>
                        <a href="#" class="button button-red">Напомнить</a>
                    </div>
                </div>
            </div>
        </main>
        <!-- CONTENT EOF   -->

        {% include "partials/_header.html" %}

        {% include "partials/_footer.html" %}


    </div>

    <div class="icon-load"></div>
    <!-- BODY EOF   -->
    {% include "partials/_js.html" %}
</body>

</html>