{% set page_title = "Дарим Чудо - Цены и примеры " %}
{% include "partials/_head.html" %}

<body class="loaded">
    <!-- BEGIN BODY -->
    <div class="main-wrapper inner-page">
        <!-- BEGIN CONTENT -->
        <main class="content inner-content">
            <div class="inner-content__tree"></div>
            <div class="wrapper">
                <div class="portfolio-prices">
                    <h1>Цены и примеры</h1>
                    <ul class="portfolio-list">
                        <li class="portfolio-list__item">
                            <div class="portfolio-list__card">
                                <div class="portfolio-list__title">Видеопоздравление для одного ребенка</div>
                                <div class="portfolio-list__video">
                                    <iframe src="https://www.youtube.com/embed/tp-fSc400Do" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="portfolio-list__bottom">
                                    <div class="portfolio-list__price">600 руб</div>
                                    <a href="#" class="button button-blue-border">Попробовать бесплатно</a>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-list__item">
                            <div class="portfolio-list__card">
                                <div class="portfolio-list__title">Видеопоздравление для двоих детей</div>
                                <div class="portfolio-list__video">
                                    <iframe src="https://www.youtube.com/embed/tp-fSc400Do" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="portfolio-list__bottom">
                                    <div class="portfolio-list__price">650 руб</div>
                                    <a href="#" class="button button-blue-border">Попробовать бесплатно</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h2>Вы можете оформить заказ из любой точки мира</h2>
                    <div class="payment-sub-title">Мы принимаем к оплате:</div>
                    <ul class="payment-list">
                        <li class="payment-list__item">
                            <span class="payment-list__img">
                                <img src="img/visa.png" alt="">
                            </span>
                        </li>
                        <li class="payment-list__item">
                            <span class="payment-list__img">
                                <img src="img/visa.png" alt="">
                            </span>
                        </li>
                        <li class="payment-list__item">
                            <span class="payment-list__img">
                                <img src="img/visa.png" alt="">
                            </span>
                        </li>
                        <li class="payment-list__item">
                            <span class="payment-list__img">
                                <img src="img/visa.png" alt="">
                            </span>
                        </li>
                    </ul>
                </div>
                
            </div>
        </main>
        <!-- CONTENT EOF   -->

        {% include "partials/_header.html" %}

        {% include "partials/_footer.html" %}


    </div>

    <div class="icon-load"></div>
    <!-- BODY EOF   -->
    {% include "partials/_js.html" %}
</body>

</html>